@import url('reset.css');





.show{
	display:block;
}

.hide{
	display:none;
}



.light{
	background-color:white;
}

.dim{
	background-color:gainsboro;
}

.dark{
	background-color:black;
}




.wrapper{
	height:500px;
	width:1030px;
	background-color:gainsboro;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.left{
	height:500px;
	width: 500px;
	float:left;
	background-color:white;
	border-right: 15px solid black;
}

.right{
	height:500px;
	width:500px;
	float:left;
	background-color:black;
	border-left: 15px solid white;
}

.dungeonfloor{
	height:400px;
	width:400px;
	margin:50px;
}

.row{
	height:50px;
	width:400px;
}

.room{
	height:50px;
	width:50px;
	float:left;
}









